/* .counter-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: 200px;
}

.counter-content {
  text-align: center;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.counter-background {
  background-color: blue;
  transition: height 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
} */

/* App.css */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Both columns take up equal space */
  grid-gap: 10px; /* Add a small gap between columns */
}

.counter-box,
.editor-box {
  padding: 10px; /* Add padding to the counter and editor boxes */
}

.form-box,
.user-box {
  padding: 10px; /* Add padding to the counter and editor boxes */
}

.user-box {
  border: 5px solid #9ca53b;
  padding: 60px;
  margin: 10px;
  width: 200px;
  border-radius: 8px;
}
.form-box {
  border: 5px solid #8a8e81;
  padding: 70px;
  margin: 20px;
  width: 200px;
  border-radius: 8px;
}
