/* App.css */

/* Styles for the main container */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-gap: 20px; /* Gap between columns */
  padding: 20px; /* Padding around the container */
}

/* Styles for the counter box and user box */
.counter-box, .user-box , .form-box{
  width: calc(90% - 0px); /* Half the container width minus half the grid gap */
  padding: 20px; /* Padding inside the boxes */
  border: 1px solid #ccc; /* Border around the boxes */
  border-radius: 8px; /* Border radius to make them rounded */
}

/* Styles for the editor box */
.editor-box {
  padding: 10px; /* Padding inside the editor box */
  border: 1px solid #ccc; /* Border around the editor box */
  border-radius: 8px; /* Border radius to make it rounded */
}

/* Styles for the form container */
.form-container {
  display: flex;
  justify-content: space-between; /* Spacing between form and user information */
}

/* Styles for the form box */
/* .form-box {
  width: 45%;  */
  /* Width of the form box */
  /* padding: 20px;  */
  /* Padding inside the form box */
  /* border: 1px solid #ccc;  */
  /* Border around the form box */
  /* border-radius: 8px;  */
  /* Border radius to make it rounded */
/* } */

/* Styles for the footer container */
.footer-container {
  display: flex;
  justify-content: space-between; /* Spacing between animations */
  align-items: center; /* Align items vertically */
  position: fixed; /* Fixed position at the bottom of the page */
  bottom: 0; /* Align at the bottom of the viewport */
  width: 100%; /* Full width of the viewport */
  background-color: #f0f0f0; /* Background color of the footer */
  padding: 20px; /* Padding inside the footer */
  z-index: 100; /* Ensure animations are above other content */
}

/* Styles for the footer animations */
.animation {
  width: 20%; /* Width of each animation */
  text-align: center; /* Align text in the center */
  padding: 10px; /* Padding inside each animation */
  border-radius: 8px; /* Border radius to make animations rounded */
  box-shadow: 0px 2px 4px rgba(160, 235, 39, 0.1); /* Add a shadow effect */
  background-color: #ffffff; /* Background color of animations */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

/* Hover effect for animations */
.animation:hover {
  transform: translateY(-5px); /* Move animation slightly up on hover */
}
